header {
    position: sticky;
    top: 0;
    background-color: #BA181B;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    text-decoration: none;
}

.navbar-brand {
    color: aliceblue;
}

.nav-link {
    color: aliceblue;
}

.logo {
    max-width: 100%;
    height: 50px;
    padding-right: 10px;
}

.navbar-brand {
    margin-right: auto;
    gap: 20px;
}

#navbarNavDropdown {
    justify-content: end;
}

.bienvenidos-imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    max-width: 100%;
}

.introduccion {
    padding: 1.5rem;
}

.twitter-sitio {
    text-align: center;
    padding: 2rem;
}

.twitter {
    align-content: center;
}



.twitter-timeline {
    margin: auto;
    max-width: 100%;
}

.pagNintendo iframe{
    max-width: 100%;
}

.pagNintendo h3 {
    margin-top: 3rem;
}


footer {
    background-color: #BA181B ;
    padding-top: 10px;
    padding-bottom: 10px;
}

.arriba {
    text-decoration: none;
}

.nav-foot a {
    text-decoration: none;
    color: aliceblue;
}

.historia-secciones div {
    width: 300px;
    height: 50%;
    border-color: #BA181B;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    background-color: #ba181b46;
}

.historia-secciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
    text-align: justify;
}

.mario-figura {
    position: fixed;
    margin: 0;
    max-width: 100%;
    z-index: -1;
    opacity: 0.3;
}