.bienvenidos-imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    max-width: 100%;
    border-radius: 10px;
}

.introduccion {
    padding: 1.5rem;
}

/*anidación*/
.twitter {
    align-content: center;
    &-sitio {
        text-align: center;
        padding: 2rem;
    }
    &-timeline {
        margin: auto;
        max-width: 100%;
    }
}

.pagNintendo {
    iframe {
        max-width: 100%;
    }

    h3 {
        margin-top: 3rem;
    }
}